.cpr-multi-selector {
	display: inline-block;
	position: relative;
	font-size: 1.4rem;
	width: 340px;
	z-index: 1;
}

.cpr-multi-selector--active {
	z-index: 8;
}

.cpr-multi-selector__hidden-input {
	max-width: 100%;
	position: absolute;
	border-radius: 5px;
}

.cpr-multi-selector__dialog {
	background: white;
	position: absolute;
	top: 33px;
	min-width: 298px;
	width: auto;
	z-index: 1;
	border-radius: 5px;
}

.cpr-multi-selector__dialog__items {
	padding: 16px 0;
	max-height: 254px;
	overflow-y: auto;
}

.cpr-multi-selector-item {
	display: block;
	height: 40px;
	position: relative;
	padding-top: 6px;
	cursor: pointer;
	padding-left: 16px;
	padding-right: 16px;
}

.cpr-multi-selector-item.\+highlighted {
	background-color: #F7F7F7;
}

.cpr-multi-selector-item__icon {
	display: inline-flex;
	align-items: center;
	height: 28px;
	width: 28px;
	border-radius: 1px;
	border: solid 2px #afafaf;
}

.cpr-multi-selector-item__icon.\+selected {
	border: solid 2px #00BF4B;
}

.cpr-multi-selector-item__icon .cps-icon {
	color: white;
}

.cpr-multi-selector-item__title {
	display:inline-block;
	position: absolute;
	left: 56px;
	top: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(100% - 6.4rem);
	overflow-x: hidden;
}

.cpr-multi-selector-item__check {
	display:inline-block;
	visibility: hidden;
	float:right;
	font-size: 2.6rem;
	position: relative;
	right: .2rem;
}

.cpr-multi-selector__main-input.cps-form-control {
	position: relative;
	z-index: 2;
	padding: 4px 4px 0 4px;
	min-height: 32px;
	height: auto;
}

.cpr-multi-selector__pill {
	display: inline-flex;
	align-items: center;
	margin-right: 5px;
	height: 25px;
	margin-bottom: 3px;
	vertical-align: top;
	background-color: rgba(0, 191, 75, 0.2);
	color: #00BF4B;
	border-radius: 5px;
	border: solid 1px rgba(0, 191, 75, 0.5);
	max-width: 184px;
}

.cpr-multi-selector__pill span {
	max-width: 80%;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.cpr-multi-selector__pill.\+inline {
	position: relative;
	top: 3px;
}

.cpr-multi-selector__pill__close {
	border-left: solid 1px rgba(0, 191, 75, 0.5);
	display: inline-block;
	line-height: normal;
	height: 100%;
}

.cpr-multi-selector__pill .cps-icon {
	position: relative;
	cursor: pointer;
	color: #00BF4B;
}

.cpr-multi-selector__icon {
	position: relative;
}

.cpr-multi-selector__done {
	border-radius: 5px 0px;
}
