.cp-multi-selector {
	display: inline-block;
	position: relative;
	font-size: 1.4rem;
}

.cp-multi-selector {
	width: 340px;
	z-index: 1;
}

.cp-multi-selector__hidden-input {
	position: absolute;
}

.cp-multi-selector__dialog {
	background: white;
	position: absolute;
	top: 33px;
	min-width: 298px;
	width: auto;
	z-index: 1;
	border-radius: 2px;
}

.cp-multi-selector__dialog__items {
	padding: 16px 0;
	max-height: 254px;
	overflow-y: scroll;
}

.cp-multi-selector-item {
	display: block;
	height: 40px;
	position: relative;
	padding-top: 6px;
	cursor: pointer;
	padding-left: 16px;
	padding-right: 16px;
}

.cp-multi-selector-item.\+highlighted {
	background-color: #F7F7F7;
}

.cp-multi-selector-item__icon {
	display: inline-flex;
	align-items: center;
	height: 28px;
	width: 28px;
	border-radius: 1px;
	border: solid 2px #afafaf;
}

.cp-multi-selector-item__icon.\+selected {
	border: solid 2px #4caf50;
}

.cp-multi-selector-item__icon .cps-icon {
	color: white;
}

.cp-multi-selector-item__title {
	display:inline-block;
	position: absolute;
	left: 56px;
	top: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(100% - 6.4rem);
	overflow-x: hidden;
}

.cp-multi-selector-item__check {
	display:inline-block;
	visibility: hidden;
	float:right;
	font-size: 2.6rem;
	position: relative;
	right: .2rem;
}

.cp-multi-selector__main-input.cps-form-control {
	position: relative;
	z-index: 2;
	padding: 4px 4px 0 4px;
	min-height: 32px;
	height: auto;
}

.cp-multi-selector__pill {
	display: inline-flex;
	align-items: center;
	margin-right: 5px;
	height: 25px;
	margin-bottom: 3px;
	vertical-align: top;
	background-color: rgba(76, 175, 80, 0.2);
	color: #4caf50;
	border-radius: 2px;
	border: solid 1px rgba(76, 175, 80, 0.5);
	max-width: 184px;
}

.cp-multi-selector__pill span {
	max-width: 80%;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.cp-multi-selector__pill.\+inline {
	position: relative;
	top: 3px;
}

.cp-multi-selector__pill__close {
	padding-right: 8px;
	border-left: solid 1px rgba(76, 175, 80, 0.5);
	display: inline-block;
	line-height: normal;
	height: 100%;
}

.cp-multi-selector__pill .cps-icon {
	position: relative;
	font-size: 16px;
	top: calc(50% - 8px);
	right: -4px;
	cursor: pointer;
	color: #4caf50;
}

.cp-multi-selector__icon {
	position: relative;
}
